# accessKeyId and secretAccessKey are only needed when accessing DynamoDB directly without using Lambda.
# When access DynamoDB with Lambda, which has its own IAM role, will cause error if accessKeyId and secretAccessKey
# are present.
{ "accessKeyId": <YOUR_ACCESS_KEY_ID>, "secretAccessKey": <YOUR_SECRET_ACCESS_KEY>, "region": "us-east-1" }
